.whatsapp-cta {
	position: fixed;
	z-index: 9; 
	right: 65px;
	top: 50%;
	transform: translateY(-50%);
	transition: all .35s ease;
	.btn,
	.btn-whatsapp-mobile{
		display: none;
		position: relative;
	}

	&.clicked{
		transform: translateY(-50%) translateX(100%);
    }	
    @media screen and (min-width: 992px) and (max-width: 1500px)	{
        right: 33px;
    }
    
    .whatsapp-cta-text{
        color: $white;
        @include font_nunito_bold();
        text-align: center;
        display: none;
	}
	.wpp-lateral{
		text-decoration: none;
	}
    @include media_query_max(992px){
        position: fixed;
        bottom: -22px;
        top: auto;
        left: 0;
		right: 0;
		padding: 5px 10px;
        background-color: rgba(56, 79, 132, .95);
		z-index: 1000;        
		display: flex;
		align-items: center;	
		
		.btn{
			display: inline-block;
			font-size: $font12;
			min-width: auto;
			padding: 10px;
			flex-grow: 1;
		}
		.btn-whatsapp-mobile{
			display: inline-block;
			color: #fff;
			font-size: 30px;
			text-align: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: #25d366;
			padding: 9px 10px;
			&:hover{
				cursor: auto;
			}
		}
        
        .whatsapp-cta-text{
			display: inline-block;				
        }        
        .whatsapp-cta-img{
            display: none;
        }        
    }
}    
@keyframes icon-pulse{    
    0% {
         transform: scale(1);         
    }
    100% {
       transform: scale(1.1);
    }
}
.whatsapp-cta-img,
.call-cta{
    @include transition();
    animation: icon-pulse .75s infinite alternate;
}

.whatsapp-cta{
	padding: 0;
	
	@include media_query_max(992px) {
		display: flex;
		.wpp-lateral,
		.open-cta{
			width: 50%;
		}
		.wpp-lateral{
			border-right: 1px solid rgba(254,254,254,.9);
		}
		.whatsapp-cta-text{
			display: block;
		}
	}
}
.whatsapp-mobile-link{
	height: 40px;
	width: 40px;
	background-color: #fff;
	border-radius: 50%;
	font-size: 24px;
	color: cyan;
	text-align: center;
	line-height: 40px;
}
.whatsapp-tooltip{
	position: absolute;
	background-color: #25d366;
	border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(#000, .1);
	transition: all .3s ease-in-out;
	top: -115%;
	left: 10px;
	padding: 15px;
	display: flex;	
	align-items: center;
	transition: all .35s ease-in-out;
	max-width: 95%;
	display: none;
	@include media_query_max(992px){
		display: flex;
	}
	
	&.clicked{		
		transform: translateY(-10px);
		opacity: 0;
		visibility: hidden;
	}
	.whatsapp-tooltip-text{
		font-size: 14px;
		color: #FFF; 
	}
	[class*="fa"]{
		font-size: 30px;
		color: #FFF; 
		margin-right: 10px;
	}
	.close-whatsapp-message{
		color: #FFF;
		position: absolute;
		top: 0;
		right: 5px;
		font-size: 14px;
		font-weight: bold;
		&:hover{
			cursor: pointer;
		}
	}
}


.call-cta-wrapper{
	position: fixed;
	z-index: 10;
	text-align: center;
    transition: all .35s ease;
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
    right: 12px;
    .btn{
        min-width: 50px;
    }
	
	@include media_query_max(992px){
		display: none;
	}		

	@media screen and (min-width: 992px) and (max-width: 1500px){
		bottom: 15px;
	}

	@include media_query_min(1500px){
		bottom: 38px;
	}

	&.visible{
		transform: translateY(-0);
		opacity: 1;
		visibility: visible;
	}
}
.call-tooltip{
	position: relative;
	background-color: #FFF;
	text-align: center;
	border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(#000, .1);
	transition: all .3s ease-in-out;
	
    &.clicked{
		transform: translateY(-30px);
		opacity: 0;
		visibility: hidden;
	}

	@media screen and (min-width: 992px) and (max-width: 1500px){
		width: 130px;
		padding: 10px 14px 19px;
	}

	@include media_query_min(1500px){
		padding: 0 8px;
		padding-top: 22px;
		padding-bottom: 19px;
		width: 165px;
		min-height: 148px;
	}
	
	&:after{		
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: "";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #FFF;
		border-width: 10px;
		margin-left: -10px;
		// box-shadow 0 0 10px 0 rgba(#000, .1);
	}
}
.close-call-cta{
	position: absolute;
	top: -10px;
	right: -10px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	color: $dark_blue;
	font-size: 12px;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(#000, .25);
	text-align: center;
	padding: 0;
	line-height: 20px;
    transition: all .3s ease-in-out;
    border: none;
	&:hover{
		color: #FFF;
        background-color: $dark_blue;
        cursor: pointer;
    }
    &.clicked{
		transform: translateY(-30px);
		opacity: 0;
		visibility: hidden;
	}
}
.open-call-tooltip{
    cursor: unset;
    &.clicked{
        cursor: pointer;
    }
}
.tooltip-text{
	color: $gray;
	margin-bottom: 11px;
    font-size: 12px;
	
	.variant {
		font-weight: 700;
		display: block;
        margin-bottom: 5px;
        color: #2a2a2a;

		@media screen and (min-width: 992px) and (max-width: 1500px){
			font-size: 16px;
		}			

		@include media_query_min(1500px){
			font-size: 20px ;
		}		
	}	
}
.call-cta{	
	@media screen and (min-width: 992px) and (max-width: 1500px){
		margin-top: 10px;
		max-width: 70px;
	}		
	@include media_query_min(1500px){
		margin-top: 30px
	}		
}

.close-cta{
    font-size: 28px; 
	position: absolute;
	top: 15px; 
	right: 0; 
	color: #ccc;
	border: 0; 
	background-color: transparent;
}	
.overlay{
	position: fixed;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	background-color: rgba($dark_blue, .9);
	z-index: 9999;
    display: none;
    a, button{
        &:hover{
            cursor: pointer;
        }
    }
}
.form-wrapper-all{
	min-height: 460px;
	width: 530px;
	padding-bottom: 30px;
	background-color: #FFF;
	font-size: 0;
	top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
	box-shadow:  0 0 20px 0 rgba(#000, .1);
    display: none;
    position: absolute;
    .form-control{
        background-color: transparent;
		border: 1px solid #eee;
		color: $gray_light;
		min-height: 40px;
	}
	.btn{
		font-size: 16px;
	}

	@include media_query_max(992px){
        width: 95%;
    }		
	
	.instance{
        &:not(.active){
            display: none;
        }
    }					
}
.form-picker{
    display: flex;
}
.form-pickers{
	background-color: #575757;
	color:$white;
	font-size: 11px;
	height: 47px;
	vertical-align: top;
    font-weight: 700;
    flex-grow: 1;       
    text-transform: uppercase;
	@include transition(); 
	border: 1px solid $gray_light;
		
	[class*="fa"]{
		color: $orange;
		font-size: 16px;
		margin-right: 5px;
		
		&.alt {
            font-weight: 300;
        }			
    }
	&.active, &:hover{
		background-color: $gray_dark;
		color: $white;

		i {
            color: $white;
        }            
    }
			
}	
.leave-message{
    text-align: center;
    max-width: 60%;
	margin: 0 auto;
	
	@include media_query_max(992px){
		max-width: 90%;
	}

	.fields{
		max-width: 300px; 
		margin: auto;
		
		.half {
			@include media_query_min(992px){
				width: 47.5%;
				float: left;
			}
			& + .half {
                @include media_query_min(992px){
                    margin-left: 5%
                }		
            }			
		}			
		.full {
            clear: both; 
        }		
	}		
	.field-wrapper{
		width: 100%;
		display: block;
		margin-bottom: 10px;
		position: relative;
		
		.icon {
			position: absolute;
			left: 2px;
			height: 36px;
			background-color: #FFF;
			top: 1px;
			bottom: 1px;
			width: 36px;
			text-align: center;
			z-index: 2;
			
			i {
				color: cyan;
				font-size: 16px;
                line-height: 34px;
            }
        }
	}		
}
.field-green{
	height: 38px;
	border: 1px solid cyan; 
	border-radius: 4px;
	width: 100%;
	padding: 5px 10px;
	
	&.bigger{
        height: 75px;
    }		
		
	&.has-icon{
        padding-left: 40px;
    }		
}
.leave-title{
	font-size: 20px;
	color: #58595b;
	line-height: 24px;
	padding-top: 25px;
	margin-bottom: 30px;
	max-width: 360px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
	.variant {
		font-size: 30px;
		display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        @include font_nunito_bold();
        color: $gray_dark;
    }
}
.callers{
	font-size: 14px; 
	color: $gray;
	margin-top: 18px;
	
	.number {
        padding: 3px 8px; 
		border-radius: 50%; 
		color: #FFF;
		background-color: red;
    }		
}

.close-modal{
	position: absolute;
	top: 20px;
	right: 10px; 
	font-size: 48px; 
	border: 0; 
	background-color: transparent; 
	padding: 0; 
	color: #FFF;
	line-height: 0;
	outline: none;
}
.confirm{
	font-size: $font16;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: $green;
	font-size: 16px;
	color: #FFF;
	border: 2px solid transparent;
	border-radius: 4px;	
	padding: 2px 20px;
	@include transition();
	
	&:hover {
		background-color: #FFF;
		color: $green;
        border-color: $green;
    }
}
.call-me-later{
	width: 300px;
	height: 42px;
	background-color: $green;
	color: #FFF;
	font-size: 20px;
	font-weight: 500;
	border: 2px solid transparent;
	border-radius: 4px;
	&:hover{
		color: $green;
		border-color: $green;
        background-color: #FFF;
    }
}
.close-submenu{
	width: 80vw;
	height: 58px;
	background-color: #6fb6a4;
	box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
	border: 0;
	color: #FFF;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 700;
	top: -51px;
	opacity: 0;
	visibility: hidden;
	transition: all .35s ease-in-out;

	&:after{
		content: '\f053';
		display: block;
		font-family: 'Font Awesome 5 Free';
		color: #FFF;
		font-size: 18px;
        position: absolute;	    
	    transform: translateY(-50%);
		top: 47.5%;
		right: 30px;
		font-weight: 700;
    }
	&.submenu-open{
		opacity: 1;
        visibility: visible;
    }
}
.generic-mobile-cta{
	color: #333;
	background-color: $teal;
	border: 5px solid #FFF;
	border-radius: 20px;
	text-align: center;
	height: 40px;
	font-weight: 700;
	
	&.call-link{
		font-size: 15px;
		width: 92px;
        padding-top: 6.5px;
    }
	
	&.modal{
		font-size: 12px;
		width: 144px;
        padding-top: 3px;
    }
}
	
.close-whatsapp-tooltip{    
	position: absolute;
	top: 5px; 
	right: 5px; 
	padding: 0;
	font-size: 24px;
	background-color: transparent;
	border: 0;
	color: #FFF;
}