
body.no-scroll {
    overflow: hidden;
}
.container-loader.active {
    display: flex;
}

.container-loader {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 53, 135, .95);
}


.rect {
	margin: 100px auto;
	width: 100px;
	height: 50px;
	text-align: center;
	font-size: 15px;
   }
   
   .rect>div {
	background-color: $white;
	height: 100%;
	width: 6px;
	display: inline-block;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
   }
   
   .rect .rect2 {
	animation-delay: -1.1s;
   }
   
   .rect .rect3 {
	animation-delay: -1.0s;
   }
   
   .rect .rect4 {
	animation-delay: -0.9s;
   }
   
   .rect .rect5 {
	animation-delay: -0.8s;
   }
   
   @keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
	 transform: scaleY(0.4);
	}
	20% {
	 transform: scaleY(1.0);
	}
   }