/**** #footer ****/
.bg-img-footer{
    position: relative;
    .bg-img{
        position: absolute;
        bottom: -80px;
        z-index: -1;
        left: 0;
    }
}
/**** #footer ****/
#footer{
    background-color: $white;
    padding-top: 40px;
    color: $white;
    a{
        text-decoration: none;
        @include transition();
    }
    .footer-description{
        color: $white;
        font-size: $font12;
    }
    .link-footer{
        color: $gray;
        text-transform: uppercase;
        font-size: $font14;
        text-decoration: underline;
        display: inline-block;
        font-weight: bold;
        margin-top: 15px;
    }
    .list-nav-footer{
        list-style-type: square;
        margin-left: 15px;
        color: $dark_blue;
        .list-nav-item{
            margin-bottom: 8px;
        }
        a{
            color: $dark_blue;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .footer-list-contact {
        margin-top: 20px;
        li{
            line-height: 38px;
        }
    }
    .contact-bold{
        color: $white;
        @include font_nunito_bold();
        font-size: $font18;
    }
    .contact-email{
        color: $white;
        @include font_nunito_regular();
        font-size: $font14;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer-title{
        font-size: $font14;
        color: $dark_blue;
        margin-bottom: 20px;
        text-transform: uppercase;
        @include font_nunito_bold();
        font-weight: bold;
    }
    [class*="fa"]{
        color: $dark_blue;
    }
    .footer-socials-link{
        font-size: 38px;
        margin-right: 10px;
        &:hover{
            border: none;  
            color: $orange;          
        }
    }
    .footer-contact{
        font-size: $font21;
        color: $gray_dark;
        display: block;
        margin-bottom: 10px;
    }
    .center-mobile{
        @include media_query_max(768px){
            text-align: center;
        }
    }
    .footer-copyright{
        background-color: $blue;
        margin-top: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        -webkit-box-shadow: 0 -8px 0 0 rgba(21,53,135,.3);
        -moz-box-shadow: 0 -8px 0 0 rgba(21,53,135,.3);
        -ms-box-shadow: 0 -8px 0 0 rgba(21,53,135,.3);
        box-shadow: 0 -8px 0 0 rgba(21,53,135,.3);
    }
    .copyright-description{
        color: $white;
        font-size: $font12;
        strong{
            color: $white;
        }
    }
    .footer-first,
    .footer-last{
        flex-grow: 0;
    }
    .footer-first{
        flex-basis: 70%;
    }
    .footer-last{
        flex-basis: 30%;        
    }
    .txt-3xceler{
        color: $white;
        display: inline-block;
        margin-right: 5px;
    }
    .link-3xceler{
        font-size: $font14;
        float: right;
    }
    #go-top{
        display: inline-block;
        background-color: transparent;
        color: $white;
        position: absolute;
        right: 150px;
        top: 13px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        padding: 6px;
        font-size: 25px;
        @include transition();
        // -webkit-box-shadow: 0px 0px 0px 9px rgba(21, 53, 135, .2);
        // -moz-box-shadow: 0px 0px 0px 9px rgba(21, 53, 135, .2);
        // box-shadow: 0px 0px 0px 9px rgba(21, 53, 135, .2);        
        [class*="fa"]{
            color: $white;
            @include transition();
        }
        @media screen and (min-width: 992px) and (max-width: 1580px){
            display: none;
        }
        @include media_query_max(992px){
            display: inline-block;
            right: 20px;
            top: 25px;
        }
        // animation: icon-pulse .75s infinite alternate;
        &:hover{
            // animation: stop;
            @include transform();
            color: $white;        
        }
    }
    
    @include media_query_max(992px){
        .copyright-description{
            text-align: center;
        }
        .footer-item {
            flex-grow: 0;
            flex-basis: 50%;
        }
        .footer-first,
        .footer-last{
            flex-basis: 100%;
        }
        .footer-last{
            margin-top: 20px;
        }
        .link-3xceler{
            float: none;
            display: block;
            margin: 0 auto;
            max-width: 215px;
        }        
    }
    @include media_query_max(768px){
        .list-nav-footer{
            list-style-type: none;
        }
        .footer-item {
            flex-basis: 100%;
        }
        .col-last{
            margin-top: 40px;
        }
    }
}