/**** #header ****/
.nav-container{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    border-color: transparent;
    @include transition(all, .2s);
    @include media_query_max(992px){
        top: 44px;
    }
}
#logo-cdmar,
#logo-cdmar-mobile{
    .invisible{
        display: none;
        height: 0;
        width: 0;
        overflow: hidden;
    }
}
.container-menu.scroll{    
    // position: fixed;
    background-color: $blue;
    -webkit-box-shadow: 0 4px 0px 0px rgba(0,0,0,.05);
    -moz-box-shadow: 0 4px 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 4px 0px 0px rgba(0,0,0,.05);    
    .nav-menu{
        padding: 5px 15px;
    }   
}

.container-menu{
    background-color: transparent;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 9999;    
    @include transition(all, .3s);
    &::before{
        content: "";
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        visibility: hidden;
        opacity: 0;
        @include transition();
    }
    &.menu-active::before{
        opacity: 1;
        visibility: visible;
    }
    
    .nav-menu{
        max-width: 1170px;    
        padding: 20px 15px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;       
    }
    .container-menu-header{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;    
        @include transition();
        
    }
    .nav-brand{
        max-width: 220px
    }
    .nav-menu-header,
    #menu-header{
        margin-left: 0;
        list-style: none;   
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        @include transition();    
        
    }
    .nav-menu-item,
    .menu-item{
        position: relative;
        display: inline-block;        
    }
    .nav-menu-link,
    .menu-link{
        @include font_nunito_bold();
        font-weight: bold;
        font-size: $font14;
        color: $white;
        padding: 10px;        
        text-transform: uppercase;
        text-decoration: none;
        @include transition();
        
        [class*="fa"]{
            color: $white;
            @include transition();
            font-size: $font14;
        }
        &:hover{
            color: $light_blue;
            [class*="fa"]{
                color: $light_blue;
            }
        }  
    }
    
    .submenu-title{
        @include font_nunito_bold();
        font-size: $font16;
        padding-left: 10px;
        margin-top: 30px;
        margin-bottom: 10px;
        display: block;
        display: none;
    }
    .submenu-back{
        display: none;
        @include font_nunito_bold();
        text-transform: uppercase;
        font-size: $font16;
        color: $white !important;
        background-color: $dark_blue;
        border-bottom: 5px solid rgba(0,0,0,.5);
        padding: 10px 15px;
        &:hover{
            cursor: pointer;
        }
        [class*="fa"]{
            color: $white;
            font-size: $font16;
        }
    }
    .nav-menu-submenu,
    .submenu{
        position: absolute;
        top: 40px;
        left: 0;        
        background-color: $white;      
        z-index: -1;
        width: auto;
        height: 0;
        overflow: hidden;
        opacity: 0;
        white-space: nowrap;
        -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
        @include transition();

        .submenu-link,
        .menu-item-depth-1,
        .sub-menu-link{
            display: block;
            @include font_nunito_regular();
            font-size: $font13;
            color: $gray;
            padding: 5px 10px;       
            @include transition();
            &:hover{
                text-shadow: 0 0 0 $gray_dark;
            }              
        }
        @include media_query_max(992px){
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .nav-menu-submenu.visible,
    .submenu.visible{
        height: auto;        
        top: 25px;
        opacity: 1;
        z-index: 1;             
    }
    #btn-menu.is-active{
        -webkit-transform: translateX(-240px);        
        -moz-transform: translateX(-240px);
        -ms-transform: translateX(-240px);        
        transform: translateX(-240px);
    }
    #btn-menu{
        border: none;
        display: inline-block;
        padding: 0;
        outline: none;
        position: absolute;
        right: 15px;
        -webkit-transform: translateX(0);        
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);        
        transform: translateX(0);
        @include absoluteCenterY();
        @include transition();

        .hamburger-inner:before,
        .hamburger-inner:after,
        .hamburger-inner{
            width: 35px;
            background-color: $white;
        }        
        &:hover{
            cursor: pointer;
        }
    }
    .btn-voltar{
        display: none;
    }
    @include media_query_min(1175px){
        #btn-menu{
            display: none;
        }
    }
    
    @include media_query_max(1175px){
        background-color: #c4c4c4;
        .nav-menu{
            justify-content: center;
            padding: 8px 15px;
        }
        .btn-agende{
            position: absolute;
            top: 70px;
            width: 100%;
            max-width: 225px;
        }
        .btn-voltar.visible{
            opacity: 1;
            visibility: visible;
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        .btn-voltar{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity:0;
            visibility: hidden;
            @include transition();
            -ms-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
        #logo-rede-clinica{
            margin: 0 auto;
            display: block;
            max-width: 50%;
        }
        [class*="fa"]{
            float: right; 
            margin-right: 5px;         
            margin-top: 0;              
        }  
        .submenu-title{
            display: block;
        }
        .submenu-back{
            display: block;
        }                 
        .nav-menu-header,
        #menu-header{
            height: 100vh;
            flex-direction: column;  
            padding-top: 130px;
            position: static;
            background-color: $blue;
            min-width: 250px;
            
        }
        .container-menu-header{
            -ms-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            flex-direction: column;
            flex-wrap: wrap;
            position: absolute;
            height: 100vh;
            top: 0;
            right: 0;
            min-width: 250px;
        }
        // .nav-menu-header.is-open,
        // #menu-header.is-open{
        .container-menu-header.is-open{
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        .nav-menu-item,
        .menu-item{
            position: static;
            width: 100%;              
            border-bottom: 1px solid rgba(255,255,255,.05);
        }
        .nav-menu-link,
        .menu-link{
            display: block;   
            padding-left: 15px;
            padding-right: 15px;   
            [class*="fa"]{
                color: $white;
                font-size: $font14;
            }      
        }     
        .nav-menu-submenu,
        .submenu{
            left: 0;
            opacity: 1;
            top: 43px !important;
            width: 100%;
            z-index: 1;
            height: 100vh;
            -ms-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            background-color: $blue;
            .sub-menu-link{
                color: $white;
            }
        }
        .nav-menu-submenu.visible,
        .submenu.visible{
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
            height: 100vh;        
        }
        .nav-menu-submenu.is-open,            
        .submenu.is-open{            
            width: 100%;
            border-color: $dark_blue;
            height: 100%;
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);            
        }
    }    
}