/*** .questions ***/
.questions{
    padding-top: 35px;
    position: relative;
    background-image: url('../img/questions/bg-questions.jpg');
    background-size: cover;
    background-position: 0 0;
    -webkit-box-shadow: 0 0 0 13px rgba(21,53,135,.1);
    -moz-box-shadow: 0 0 0 13px rgba(21,53,135,.1);
    -ms-box-shadow: 0 0 0 13px rgba(21,53,135,.1);
    box-shadow: 0 0 0 13px rgba(21,53,135,.1);
    margin-bottom: 13px;

    .section-title{
        color: $white;
    }
    .section-description{
        width: 50%;
        color: $white;
        line-height: 16px;
    }
    .img-questions{
        position: absolute;
        left: 40px;
        bottom: 0;
    }
    form{
        margin-bottom: 35px;
    }
    .form-control{
        background-color: $white;
    }
    .d-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;        
    }    
    @media screen and (min-width: 768px) and (max-width: 1200px){
        .section-title,
        .section-description{
            width: 50%;
        }
    }
    @include media_query_max(992px){
        .img-questions{
            display: none;
        }
        background-image: none;
        background-color: #48659f;
    }
    @include media_query_max(768px){
        .section-title,
        .section-description{
            width: 100%;
        }
    }
}