/*** .tratament ***/
.tratament{
    background-color: #f1f3f5;
    padding-top: 60px;
    padding-bottom: 60px;
    .section-description{
        line-height: 16px;
    }
    .img-tratament-map{
        border: 3px solid #e4e4e4;
        display: block;
        margin: 0 auto;
    }
}