/**** .contact-container ****/
.contact-container{
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    .contact-link{
        display: block;
        margin-bottom: 10px;
        font-size: $font18;
        color: $dark_blue;
        text-decoration: none;
    }
    .contact-map{
        padding: 50px 40px;        
    }
    .contact-form{
        padding: 50px;
        label{
            text-align: left !important;
        }
    }
    @include media_query_max(992px){
        -ms-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        text-align: center;
    }
}