/**** #main ****/
#main{    
    display: flex;
    flex-wrap: wrap;
    .main-container{
        width: 100%;
    }
    .max-container{
        margin: 0 auto;  
        @include media_query_max(1200px){
            max-width: 960px;   
        }
        @include media_query_max(992px){
            max-width: 720px;
        }
        @include media_query_max(768px){
            max-width: 540px;
        }  
        
    }
    #main-slider{
        height: 100%;
    }
    .swiper-slide{
        padding-top: 50vh;
        min-height: 85vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;        
    }    
    .swiper-button-next,
    .swiper-button-prev{
        width: 40px;
        height: 40px;
        background-size: 11px 40px;
        padding: 20px;
        background-color: rgba(0,0,0,.5);
    }    
    .main-links{
        text-decoration: none;
        display: block;     
        max-width: 500px;   
    }    
    .main-links.left{
        margin-right: auto;
        margin-left: 0;
    }
    .main-links.right{
        margin-left: auto;
        margin-right: 0;
    }
    .main-title{
        font-size: $font44;
        text-transform: uppercase;
        color: $white;
        @include font_geometria_bold();
    }
    @include media_query_max(1100px){
        .swiper-slide{
            padding-top: 40%;
            min-height: auto;
        }
        .swiper-pagination{
            display: none;
        }
        .main-title{
            margin-bottom: 60px;
            font-size: calc(#{$font30} + 1vw);
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    @include media_query_max(992px){
        .main-title{
            font-size: calc(#{$font18} + 1vw);
        } 
    } 
}
/**** #about ****/
#about{    
    .about-img{
        background-image: url("../img/home/img-sobre-rede-clinica-popular.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        padding-bottom: 50px;
        .section-description{
            color: $white;
            text-align: center;        
            font-size: $font15;
        }
    }
    .about-description{
        padding: 60px 0 0 50px;
        position: relative;
        background-image: url("../img/home/about-bg.png");
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    .nav-tabs{
        .nav-link{
            text-decoration: none;
            font-size: $font16;
            text-transform: uppercase;
            border-color: transparent transparent transparent transparent;         
            background-color: transparent;    
            @include transition();
            &.active{
                color: $orange;
                border-bottom-color: $orange;
            }
        }
    }
    #about-tabs-content{
        padding: 30px 15px 0 15px;
        [class*="fa"]{
            color: $dark_blue;
            font-size: $font16;
        }
    }
    @include media_query_max(992px){
        .about-img{
            padding-top: 75%;
            padding-bottom: 0;
            position: relative;
            .section-description{
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        
        .about-description{            
            padding-left: 15px;
            padding-right: 15px;
        }
        #about-tabs-content{
            padding-left: 0;
            padding-right: 0;
        }
    }
}
/**** #speciality ****/
#speciality{
    background-image: url("../img/home/speciality-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
    padding-top: 120px;
    .speciality-container{
        padding: 60px 40px 30px 40px;
        background-image: url("../img/home/speciality-title-bg.png");
        background-repeat: no-repeat;
        background-position: top;
    }
    .section-title{
        margin-bottom: 70px;
    }
    .speciality-title{
        text-align: center;
        color: $dark_blue;
        margin-top: 15px;
        font-size: $font18;
    }
    .speciality-list{
        display: flex;
        flex-wrap: wrap;
    }
    .speciality-item{
        width: 20%;
        padding-bottom: 30px;
        a{
            text-decoration: none;
        }
    }    
    @include media_query_max(992px){
        background-image: none;
        padding-top: 40px;
        .speciality-item{
            width: 33.33%;
        }
    }
    @include media_query_max(768px){
        .speciality-item{
            width: 50%;
        }
    }
}
/**** #trataments ****/
#trataments{
    padding-top: 80px;
    
    .trataments-description{
        padding: 60px 40px 0 40px;
        position: relative;
        overflow: visible;
        &::before{
            content: "";
            background-image: url("../img/home/trataments-bg.png");
            background-repeat: no-repeat;
            background-position: 0;
            width: 324px;
            height: 282px;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;
            transform: translate(-100px, -30px);
            -moz-transform: translate(-100px, -30px);
            -webkit-transform: translate(-100px, -30px);
            -ms-transform: translate(-100px, -30px);
        }
    }
    .trataments-list{
        display: flex; 
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 30px;
        .trataments-item{
            width: 50%;
            margin-bottom: 15px;
            color: $gray_dark;
        }   
    }
    .trataments-img{
        padding: 0;
        img{
            width: 100%;
            max-width: none;
        }                        
    }
     
    .btn-center{
        max-width: 130px;
    }
    @include media_query_max(992px){
        .trataments-img{
            margin-top: 30px;
        }
    }
    @include media_query_max(768px){
        .trataments-list .trataments-item{
            width: 100%;
        }
    }
}
/**** #message ****/
#message{
    background-image: url("../img/home/speciality-title-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 100px;
    padding-bottom: 100px;
    @include media_query_max(992px){
        padding-top: 80px;
        padding-bottom: 80px;
    }
}