/**** .content-internal-page ****/
.internal-img.page-speciality{
    .internal-title{
        font-size: $font48;    
        @include media_query_max(992px){
            font-size: $font32; 
        }
    }
    .internal-description{        
        font-size: $font20;
        @include font_nunito_regular();
        font-weight: 400;
    }
}
.internal-img{
    height: 440px;
    background-size: cover;
    width: 100%;
    display: block;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .internal-title,
    .internal-description{
        color: $white;
        text-align: center;
        @include font_nunito_bold();
    }
    .internal-title{
        font-size: $font22;
        margin-bottom: 20px;        
    }
    .internal-description{        
        font-size: $font32;
        width: 75%;
        display: block;
        margin: 0 auto;
        margin-bottom: 90px;
    }
    @include media_query_max(992px){
        .internal-title{
            font-size: $font16; 
        }
        .internal-description{
            font-size: $font22;
            margin-bottom: 30px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.internal-content.page-specialities{
    padding-top: 0;
    padding-bottom: 0;
        
    @include media_query_min(1200px){
        .container{
            max-width: 1320px;
            background-color: $white;
        }
        .container-desk-lg{
            max-width: 1170px;
            margin: 0 auto;
        }
    }
    @include media_query_min(992px){
        .container{
            background-color: $white;
        }
    }
    
    .internal-container{
        padding-left: 0;
        padding-right: 0;
    }
    .form-title{
        font-size: $font18;
        @include font_nunito_regular();
        font-weight: 400;
        margin-top: 0;
    
        .form-title-bold{
            font-weight: bold;
            font-size: $font26;
        }
    }
        
    .form-aside{
        padding: 50px 30px;
        max-width: 100%;
        margin-bottom: 40px;
        width: 440px;
        float: right;
        transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-box-shadow: 5px 8px 0px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 5px 8px 0px 0px rgba(0,0,0,0.05);
        -ms-box-shadow: 5px 8px 0px 0px rgba(0,0,0,0.05);
        box-shadow: 5px 8px 0px 0px rgba(0,0,0,0.05);
        .form-description{
            font-size: $font12;
            margin-bottom: 15px;
            text-align: center;
        }
    }
    .pb-desk{
        padding-bottom: 40px;
        @include media_query_min(992px){
            padding-bottom: 80px;   
        }
    }

    h1, h2, h3, h4, h5{
        color: $dark_blue;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h1{
        font-size: $font40;
    }
    h2{
        font-size: $font35;
    }
    h3{
        font-size: $font30;
    }
    h4{
        font-size: $font25;
    }
    h5{
        font-size: $font18;
    }
    p{
        line-height: 16px;
    }
    ul{
        margin-left: 15px;
        margin-top: 15px;
        
        li{
            color: $gray;
        }
    }
    @include media_query_max(1200px){
        .container-desk-lg{
            padding-left: 20px;
            padding-right: 20px;
        }
        .form-aside{
            width: 100%;
        }
    }
    @include media_query_max(992px){
        h1, h2, h3, h4, h5, p{
            text-align: center;
        }
        .form-aside{
            padding-left: 0;
            padding-right: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
            box-shadow: none;
        }
        .btn{
            width: 100%;
        }
    }
}
.internal-content{
    background-image: url("../img/common/internal-bg.png");
    background-repeat: repeat;
    padding-top: 60px;
    padding-bottom: 60px;

    .internal-container{
        padding: 50px 40px;        
    }
    .internal-title{
        margin-bottom: 40px;
        color: $dark_blue;
        line-height: 1.2;
        @include font_nunito_bold();
        font-size: $font50;
    }    
    .internal-list{
        display: flex;
        flex-wrap: wrap;
        .internal-icon{
            float: left;
            margin-right: 15px;
            max-width: 80px;
        }
        .internal-item{            
            margin-bottom: 30px;
            padding-right: 15px;
        }
        .internal-link{
            text-decoration: none;
        }
        .internal-item.two-by-line{            
            width: 50%;
        }
        .internal-item.three-by-line{            
            width: 33.33%;
        }
        .internal-title{
            color: $dark_blue;
            font-size: $font22;
            margin-bottom: 10px;
            @include font_nunito_bold();
        }
        .internal-description{
            color: $gray;
            font-size: $font14;
            @include font_nunito_regular();            
        }
    }
    
    @include media_query_max(992px){
        .internal-list{
            .internal-item.two-by-line,
            .internal-item.three-by-line{
                width: 100%;
            }
        }
        .internal-title{
            font-size: $font30;
        }
    }
}
.call-schedule{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../img/schedule-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 140px;
    
    .call-title{
        font-size: $font32;
        color: $white;
        @include font_nunito_bold();
        margin-bottom: 40px;
        text-align: center;
        display: block;     
        margin-left: auto;   
        margin-right: auto;   
    }
    @include media_query_max(992px){
        padding: 50px 30px;
        .call-title{
            font-size: $font22;
        }
    }
}