/**** FONTES ****/
@font-face {
    font-family: 'Nunito';
    @import url('https://fonts.googleapis.com/css?family=Nunito:400');
    font-display: auto;
    font-style: normal;    
    font-weight: 400;
}
@font-face {
    font-family: 'Nunito';
    @import url('https://fonts.googleapis.com/css?family=Nunito:700');
    font-display: auto;
    font-style: normal;  
    font-weight: 700;  
}
@font-face {
    font-family: 'Geometria';
    @import url('../src/fonts/Geometria/Geometria.otf');
    font-display: auto;
    font-style: normal;
    font-weight: 400;    
}
@font-face {
    font-family: 'Geometria';
    @import url('../src/fonts/Geometria/Geometria-Bold.otf');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}