/**** General styles ****/
.section-title-lg{
    font-size: $font50;
    color: $dark_blue;
    line-height: 1.1;
    margin-bottom: 20px;
    @include font_nunito_regular();
    
    @include media_query_max(992px){
        font-size: $font32;
    }
}
.section-title{
    font-size: $font40;
    color: $dark_blue;
    line-height: 50px;
    margin-bottom: 20px;
    @include font_nunito_regular();
    
    @include media_query_max(992px){
        font-size: $font26;
    }
}
.section-description{
    color: $gray;
    font-size: $font14;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 27px;
}
.form-title{
    color: $dark_blue;
    text-transform: uppercase;
    text-align: center;
    font-size: $font18;
    @include font_nunito_regular();
    font-weight: normal;    

    .form-title-bold{
        color: $dark_blue;
    }
}