/**** Helpers ****/
.list-unstyled{
    list-style: none;
    padding-left: 0;
}
.d-flex{
    flex-wrap: wrap;
}
.decoration-none{
    text-decoration: none;
}
.bg-white{
    background-color: $white;
}
.icon-check{
    &::before{
        content: "";
        display: inline-block;
        width: 23px;
        height: 20px;
        background-image: url("../img/home/common/icon-list.png");
        background-repeat: no-repeat;
        margin-right: 5px;
    }
}
.btn-center{
    display: block;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}
.mt-50{
    margin-top: 50px;
}

@keyframes icon-pulse{    
    0% {
         transform: scale(1);         
    }
    100% {
       transform: scale(1.1);
    }
}    