// Fonts
@mixin font_nunito_regular {
    font-family: 'Nunito', sans-serif;    
}
@mixin font_nunito_bold {
    font-family: 'Nunito', sans-serif;
}
@mixin font_geometria_regular {
    font-family: 'Geometria', sans-serif;
}
@mixin font_geometria_bold {
    font-family: 'Geometria-Bold', sans-serif;
    font-weight: 700;    
}

// Effects
@mixin transition($elemento: all, $tempo: 0.3s) {
    -webkit-transition: $tempo ease-in-out $elemento;
    -o-transition: $tempo ease-in-out $elemento;
    transition: $tempo ease-in-out $elemento;
}
@mixin transform($inicial: 1, $final: 1.1) {
    -webkit-transform: scale($inicial);
    -ms-transform: scale($inicial);
    -moz-transform: scale($inicial);
    transform: scale($inicial);
    @include transition;

    &:hover {
        -webkit-transform: scale($final);
        -ms-transform: scale($final);
        -moz-transform: scale($final);
        transform: scale($final);
        cursor: pointer;
    }
}
// Helpers
@mixin absoluteCenterY() {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

// MEDIA QUERYS
@mixin media_query_min($px) {
    @media only screen and (min-width: $px) {
        @content;
    }
}
@mixin media_query_max($px) {
    @media only screen and (max-width: $px) {
        @content;
    }
}