// Resets
*{
    margin: 0;
    padding: 0;
    @include font_nunito_regular();
    line-height: 1.2;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    // scroll-behavior: smooth;
}
body{
    // overflow-x: hidden;
    background-color: #f2f2f5;
}
::selection,
::-moz-selection{
    color: $white;
    background: $orange;
}
h1, h2, h3, h4, h5, h6, p, span, strong, .nav-link, label {    
    color: $gray;        
}
p, a, .btn, label, th, td, li{
    font-size: $font14;
}
img{
    max-width: 100%;
}
.btn{
    text-transform: uppercase;
    text-decoration: none;
    @include font_nunito_bold();
}
ul.swiper-wrapper{
    list-style: none;
    padding-left: 0;
}
.form-control{
    font-size: $font14;
    height: calc(2.25rem + 20px);
    border: 1px solid #dadce1;
    background-color: #f2f2f5;
    padding-top: 7px;
}
.container {
    @include media_query_min(1200px){
        max-width: 1220px;
    }
  }
.max-container,
.container.max-container{
    @include media_query_min(1200px){
        max-width: 1100px;
    }
}
.container.main-max-container{
    @include media_query_min(1200px){
        max-width: 1300px;
        padding-left: 115px;
    }
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }