/**** COLORS AND VARIABLES ****/
$white: #fff;
$black: #000;
$gray_dark: #404041;
$gray_light: #c4c4c4;
$blue: #384f84 ;
$dark_blue: #153587;
$light_blue: #c7ddfb;
$orange: #c56236;
$gray: #696969;
$border: 3px;

$theme-colors: (
    "orange": $orange
);

// Default variables Bootstrap
$dropdown-link-active-bg: transparent;
$border-radius: 0;
// $grid-columns: 10; 
$btn-padding-y: 10px;
$btn-padding-x: 20px;
$input-btn-focus-color: none;

/**** FONTS ****/
$font10: 10px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font21: 21px;
$font22: 22px;
$font24: 24px;
$font25: 25px;
$font26: 26px;
$font30: 30px;
$font35: 35px;
$font32: 32px;
$font36: 36px;
$font40: 40px;
$font44: 44px;
$font48: 48px;
$font50: 50px;
