// Project styles - Variables and mixins
@import "_mixins.scss";
@import "_variables.scss";

// Includes styles Bootstrap - Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Includes styles Bootstrap - Optional
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/_utilities";
@import "../../node_modules/bootstrap/scss/_nav";
@import "../../node_modules/bootstrap/scss/_navbar";
@import "../../node_modules/bootstrap/scss/_transitions";
@import "../../node_modules/bootstrap/scss/_dropdown";
@import "../../node_modules/bootstrap/scss/_forms";
@import "../../node_modules/bootstrap/scss/_input-group";

// Project styles
@import "_resets.scss";
@import "_fonts.scss";
@import "_hamburguers.scss";
@import "_general.scss";
@import "_helpers.scss";

// Thankyou page
.thankyou-page{
    padding-top: 200px;  
    min-height: 50vh;
    padding-bottom: 30px;
}

// contact form
.wpcf7-response-output{
    font-size: 14px;
}

@import "sections/_header.scss";
@import "sections/_questions.scss";
@import "sections/_tratament.scss";
@import "sections/_footer.scss";
@import "pages/_home.scss";
@import "pages/_internalPages.scss";
@import "pages/_contact.scss";
@import "components/_cta.scss";
@import "components/_animate.scss";
@import "components/_loader.scss";